@use "../components" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-size: $normal-font-size;
    font-family: $body-font;
}

body {
    background: rgb(18, 18, 18);
    color: $white-color;
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}